<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.novoda.merlin"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>

        <!-- SERVICE -->

        <service
            android:name="com.novoda.merlin.service.MerlinService"
            android:exported="false"/>

        <!-- RECEIVER -->

        <receiver android:name="com.novoda.merlin.receiver.ConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.novoda.merlin.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
